<%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
<div class="row">
	<div id="slide-panel" class="col-md-12">
		<hr />
		<div id="slide-panel-content">
			<h2>Upcoming Events Quickview</h2>
			<% @events.each do |e| %>
				<div class="panel panel-default event-panel">
					<div class="panel-heading">Event - <%= e.name %></div>
					<div class="panel-body">
						<div class="event-panel-user-photo"></div>
					</div>
				</div>
			<% end %>
		</div>
		<hr />
	</div>
	
</div>
