<%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
<div class="row">
	<h3>Upcoming Events Quickview</h3>

	<div id="slide-panel" class="col-md-12 container-outer">
		
			<div id="slide-panel-content" class="container-inner">

					<% @events.each do |e| %>
						<div class="panel panel-default event-panel">
							<div class="panel-heading">Event - <%= e.name %></div>
							<div class="panel-body">
								<div class="event-panel-user-photo"></div>
							</div>
						</div>
					<% end %>

			</div>
		
	</div>

</div>

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

<!-- Calendar by https://gist.github.com/starzonmyarmz/4496814 -->

<div class="calendar-div">
  <header class="calendar-header">
    <button class="calendar-button">«</button>
    <h2 class="calendar-h2">July 2015</h2>
    <button class="calendar-button">»</button>
  </header>
<table class="calendar-table">
  <tr>
    <td class="calendar-td">S</td>
    <td class="calendar-td">M</td>
    <td class="calendar-td">T</td>
    <td class="calendar-td">W</td>
    <td class="calendar-td">Th</td>
    <td class="calendar-td">F</td>
    <td class="calendar-td">S</td>
  </tr>
  <tr>
    <td class="calendar-td"></td>
    <td class="calendar-td"></td>
    <td class="calendar-td">1</td>
    <td class="calendar-td">2</td>
    <td class="calendar-td">3</td>
    <td class="calendar-td">4</td>
    <td class="calendar-td">5</td>
  </tr>
  <tr>
    <td class="calendar-td">6</td>
    <td class="calendar-td">7</td>
    <td class="calendar-td">8</td>
    <td class="calendar-td">9</td>
    <td class="calendar-td">10</td>
    <td class="calendar-td">11</td>
    <td class="calendar-td">12</td>
  </tr>
  <tr>
    <td class="calendar-td">13</td>
    <td class="calendar-td">14</td>
    <td class="calendar-td">15</td>
    <td class="calendar-td">16</td>
    <td class="calendar-td selected">17</td>
    <td class="calendar-td">18</td>
    <td class="calendar-td">19</td>
  </tr>
  <tr>
    <td class="calendar-td">20</td>
    <td class="calendar-td">21</td>
    <td class="calendar-td">22</td>
    <td class="calendar-td">23</td>
    <td class="calendar-td">24</td>
    <td class="calendar-td">25</td>
    <td class="calendar-td">26</td>
  </tr>
  <tr>
    <td class="calendar-td">27</td>
    <td class="calendar-td">28</td>
    <td class="calendar-td">29</td>
    <td class="calendar-td">30</td>
    <td class="calendar-td">31</td>
    <td class="calendar-td"></td>
    <td class="calendar-td"></td>
  </tr>
</table>
</div>
