/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 */
 @import "bootstrap/mixins";
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body{
      background-color: #333333;
      color: white;
    }
#page-row{
      height:100vh;
}

/* Navigation CSS */
    #navigation{
      h1{
          color:#888888;
      }
      a,a:hover,a:visited{
        color:#CCCCCC;
        text-decoration: none;
      }
    .container{
      height:100%;
      margin:0px;
    }
    
    
    .navigation-option{
      width:100%;
      padding: 10px 20px;
      margin-top: 10px;
      -moz-border-radius: 7px 7px 7px 7px;
      -webkit-border-radius: 7px 7px 7px 7px;
    }
    .navigation-option:hover{
      background-color: #666666;
    }

    .navigation-option p{
      display: inline;
      padding-left: 10px;
      font-size: 14px;
    }
    .current{

      background-color: #00BFFF;
    }
    .current a{
      color:black;
    }

    .list-group-item{
      background-color: #333333;
      border: 1px solid #555555;
      padding: 1px;
    }
    #quick-add h2{
      color: #888888;
      text-align: center;
    }
    #quick-add select{
      background-color: #333333;
      border-width: 0px;
      color: white;
    }
   #quick-add  .input-group{
    }
    #quick-add .input-group-addon{
      border-width: 0px;
      background-color: #333333;
      color: white;
    }
    #quick-add .glyphicon-calendar{
      color: #00BFFF;

    }
    #quick-add .form-control{
      background-color: #333333;
      border-width: 0px;
      text-align: right;
    }
    #quick-add button{
      background-color: #333333;
      color: #00BFFF;
      border-width: 0px;
      display: block;
      width: 100%;
    }
    #quick-add button:hover{
      background-color: #555555;
    }
  }


/* Second Column Navigation */
    .custom-list-column{
      background-color: #555555;
      height: 100vh;


      a,a:hover,a:visited{
        color:#CCCCCC;
        text-decoration: none;
      }
    }

    .custom-list-header{
      padding: 10px;
      h2{
        display: inline;

      }
      button{

        display: inline;
      }

    }
    .custon-list-listing{


    }
    .custom-list-item{
      border-width: 0px;
      padding: 10px 5px;
      background-color:#333333;
      margin: 5px;

      .glyphicon{
        color: #00BFFF;
        margin-right: 10px;
      }
    }
    .custom-list-item:hover{
      background-color:#444444;
    }


/* Modal */
    .modal-title {
    	color: black;
    }

    .modal-label {
    	color: black;
    }

    .modal-time {
    	 display: inline-block;
    	 width: 400px;
    }

    .modal-description {
    	max-width: 250px;
    }
