// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slide-panel-content{
	height:200px

}
.user-photo{
	border-radius: 50%;
    behavior: url(PIE.htc);
    background-color: #555555;
    height: 150px;
    width: 150px;
    float:left;
    margin: 20px;
}
