#room-size{
	margin: 20px 10px;
}
#room-description{

	margin: 20px 10px;	
}
.descriptor{
	color: #11CFFF;

}
/* Current and Upcoming Events */
#current-and-upcoming-events{
	background-color: #00BFFF;
	border: 1px solid #00BFFF;

	margin-top: 10px;
	.panel-heading{
		background-color: #00BFFF;
		font-size: 18px;

	}
	.panel-body{
		border-width: 0px;
	}
	.list-group-item:first{
		border-top: 0px;
	}
	.event-image{
		height: 65px;
		width: 65px;
		background-color: #555555;
		margin: 5px;
		border: 1px solid #00BFFF;
	}
}
#add-event-button{
	display:inline;
	background-color: #00BFFF;
	border-width: 0px;	
	.glyphicon{
		background-color: #00BFFF;
		color: white;
	}
}


/* Modal */
.modal-title {
	color: black;
}

.modal-label {
	color: black;
}

.modal-time {
	 display: inline-block;
	 width: 400px;
}

.modal-description {
	max-width: 250px;
}
